input{
    padding: 4px;
    border-radius: 4px;
    margin: 5px 0;
    display: block;
}
.post-container{
    display: flex;
    flex-wrap: wrap;
}

.post {
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 400px;
    display: block;
    margin: 10px 20px 30px;
}

.post-header {
    color: limegreen;
}